<h1>Lectors</h1>

<%= link_to 'New Lector', new_lector_path %>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @lectors.each do |lector| %>
      <tr>
        <td><%= lector.first_name %></td>
        <td><%= lector.last_name %></td>
        <td><%= lector.address %></td>
        <td><%= lector.email %></td>
      <td><%= lector.uuid %></td>
        <td>
          <%= link_to 'Show', lector_path(lector) %> |
          <%= link_to 'Edit', edit_lector_path(lector) %> |
          <%= link_to 'Destroy', lector_path(lector), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
